// font family
$ff-default: "Roboto";
$ff-headings: "Cookie";

// base
$fs-base: 16;
$lh-base: 32;
$sp-base: 16;

// default font sizes
$fs-small: em(12);
$fs-medium: em(16);
$fs-large: em(20);

// heading font sizes
$fs-h1: em(36);
$fs-h2: em(28);
$fs-h3: em(22);
$fs-h4: em(18);
$fs-h5: em(16);
$fs-h6: em(14);

// spacing
$sp-small: em(16);
$sp-medium: em(20);
$sp-large: em(24);

// border radius
$rad-small: em(2);
$rad-medium: em(3);
$rad-large: em(6);

// breakpoints
$bp-tiny: 380px;
$bp-small: 640px;
$bp-medium: 960px;
$bp-large: 1180px;
$bp-huge: 1360px;
