.cms__ControlPane__control input,
.cms__ControlPane__control textarea,
.cms__ControlPane__control select {
  font-size: 14px;
  font-family: inherit;
}

.cms__ControlPane__control input,
.cms__ControlPane__control textarea,
.cms__ControlPane__control select,
.ProseMirror {
  border: 1px solid lightgrey;
}

.cms__FileControl__imageUpload {
  border: 1px dashed grey;
}

.ProseMirror {
  padding-top: 0;
}

.cms__ListControl__item {
  padding-left: 0;
}

.cms__ListControl__toggleButton {
  background: transparent;
  z-index: 3;
}

select {
  height: 42px;
  padding-top: 0 4px;
}

.cms__EntryListing__cardList {
    margin: 6px 0;
}
