@import url('https://fonts.googleapis.com/css?family=Cookie|Roboto:300,300i,400,400i,500,500i,700,700i');

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1c1d1e;
}

body {
  padding: 0;
  margin: 0
}

h1, h2 {
  font-family: 'Cookie', cursive;
  font-size: 3em;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: .5em;
}

p {
  line-height: 200%;
}

em {
  font-weight: 300;
  font-size: 110%;
}

blockquote {
  color: shade(#1c1d1e,20%);
  border-left: 4px solid #eeb200;
  padding: .1em 0 .1em 1.5em;
  font-size: 1.125em;
  font-style: italic;
  margin: 1em;
  margin: 1em 0;
}

p a {
  border-bottom: 1px solid #999;
  padding-bottom: 3px;
  color: black;
  text-decoration: none;
}

p a:hover {
  border-bottom-color: 1px solid #eeb200;
}

.bg-img {
  background-position: center center;
  background-size: cover;
}

.banner {
  height: 480px;
  margin-left: -40px;
  margin-right: -40px;
  width: calc(100% + 80px);
}

.preview-testimonial img {
  width: 180px;
  margin: 24px auto;
  min-height: 0;
}

.preview {
  text-align: center;
  padding: 0 40px;
}

.preview > h2 {
  overflow: hidden;
  text-align: center;
}

.section {
  padding: 80px 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  margin-left: -40px;
  margin-right: -40px;
  background-color: #f2f2f2;
}

.preview > h2 span {
  display: inline-block;
  position: relative;
}

.preview > h2 span:before,
.preview > h2 span:after {
  content: " ";
  position: absolute;
  width: 720px;
  height: 1px;
  top: 50%;
  background-color: #1c1d1e;
}

.preview > h2 span:before {
  left: calc(100% + .6em);
}

.preview > h2 span:after {
  right: calc(100% + .6em);
}

.section.teasers {
  background-color: #eeb200;
}

.section.testimonials {
  background-color: #6e2212;
  color: white;
}

.text {
  margin-bottom: 56px;
}

.preview-flights,
.preview-page {
  text-align: left;
}

.preview-teaser {
  max-width: 400px;
  padding: 0 30px 30px;
  border: 1px solid #e2e2e2;
  margin: 40px auto;
  text-align: left;
  font-style: italic;
}

.preview-teaser .bg-img {
  height: 320px;
  margin: 0 -30px 30px;
  width: calc(100% + 60px);
  font-size: 140%;
}

.preview-teaser > h3,
.preview-flight > h3 {
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: 2px solid #1c1d1e;
  padding-bottom: .4em;
  margin-bottom: 1em;
}

.preview-teaser > .text,
.preview-flight > .text {
  font-weight: 300;
}



.preview-testimonial .bg-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 40px auto;
}

.preview-testimonial > h3 {
  font-weight: 500;
  font-size: 140%;
}

.preview-testimonial .meta {
  margin-top: -12px;
  color: grey;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
}
