@import url('https://fonts.googleapis.com/css?family=Cookie|Roboto:300,300i,400,400i,500,500i,700,700i');

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1c1d1e;
}

body {
  padding: 0;
  margin: 0
}

h1, h2 {
  font-family: 'Cookie', cursive;
  font-size: 3em;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: .5em;
}

p {
  line-height: 200%;
}

em {
  font-weight: 300;
  font-size: 110%;
}

img {
  width: 100%;
  height: auto;
  background: lightgrey;
  min-height: 250px;
}

.preview > img {
  display: block;
  margin-left: -40px;
  margin-right: -40px;
  width: calc(100% + 80px);
}

.preview-testimonial img {
  width: 180px;
  margin: 24px auto;
  min-height: 0;
}

.preview {
  text-align: center;
  padding: 0 40px;
}

.preview > h2 {
  overflow: hidden;
  text-align: center;
}

.section {
  padding: 80px 40px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  margin-left: -40px;
  margin-right: -40px;
  background-color: #f2f2f2;
}

.preview > h2 span {
  display: inline-block;
  position: relative;
}

.preview > h2 span:before,
.preview > h2 span:after {
  content: " ";
  position: absolute;
  width: 720px;
  height: 1px;
  top: 50%;
  background-color: #1c1d1e;
}

.preview > h2 span:before {
  left: calc(100% + .6em);
}

.preview > h2 span:after {
  right: calc(100% + .6em);
}

.section.teasers {
  background-color: #eeb200;
}

.section.testimonials {
  background-color: #6e2212;
  color: white;
}

.text {
  margin-bottom: 56px;
}
