---
layout: default
---

{% assign stripped = content | strip_newlines %}
{% if stripped != "" or page.buttons %}
<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content | replace: "\", "<br/>" }}

  {% if page.buttons %}
  <footer>
    {% include buttons.html items=page.buttons %}
  </footer>
  {% endif %}

</article>
{% endif %}


<section class="flights teasers">

  <h2 class="hidden">
    <span>{{ site.data.translations[page.lang].text.flights }}</span>
  </h2>

  {% assign flights = site.flights | where: "lang", page.lang %}
  {% assign sorted_flights = flights | sort: 'order' %}

  {% for flight in sorted_flights %}
  <article>
    <figure>
      {% include_cached image.html file=flight.image style='teaser' alt=flight.title %}
    </figure>
    <h3>{{ flight.title }}</h3>
    {{ flight.summary | markdownify }}

    <footer class="hidden">
      <a class="read-more" href="{{ flight.url }}">{{ site.data.translations[page.lang].text.read-more }}</a>
    </footer>

  </article>

  {% endfor %}

</section>

{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
