---
layout: default
---

<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content }}

</article>


<section class="gallery">

  <h2 class="hidden">
    <span>Pictures</span>
  </h2>

  <div id="instafeed">
    <noscript>Visit our instagram page...</noscript>
  </div>

</section>


{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
{% js js/gallery %}

<script>
  var feed = new Instafeed({
    get: 'tagged',
    tagName: '{{ page.instagram }}',
    sortBy: 'most-recent',
    clientId: {{ site.instagram.clientId }},
    accessToken: {{ site.instagram.accessToken }},
    template: {% raw %}'<figure><a href="{{model.images.standard_resolution.url}}" data-caption="{{caption}} &hearts; {{likes}}"><img class="lazyload" src="{% endraw %}{{ placeholder }}{% raw %}" data-src="{{model.images.low_resolution.url}}" alt="Picture" width="280" height="280"/></a></figure>', {% endraw %}
    after: function() {
      baguetteBox.run('#instafeed');
    },
  });
  feed.run();
</script>
