---
layout: default
---

{% assign stripped = content | strip_newlines %}
{% if stripped != "" or page.buttons %}
<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content }}

  {% if page.buttons %}
  <footer>
    {% include buttons.html items=page.buttons %}
  </footer>
  {% endif %}

</article>
{% endif %}


<section class="media">

  <h2 class="hidden">
    <span>Galleries</span>
  </h2>

  {% assign galleries = site.galleries | where: "lang", page.lang %}
  {{ galleries | sort: "order" }}

</section>

{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
