---
layout: default
---

{% assign stripped = content | strip_newlines %}
{% if stripped != "" or page.buttons %}
<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content }}

  {% if page.buttons %}
  <footer>
    {% include buttons.html items=page.buttons %}
  </footer>
  {% endif %}

</article>
{% endif %}


<section class="media teasers">

  <h2 class="hidden">
    <span>Galleries</span>
  </h2>

  {% assign galleries = site.galleries | where: "lang", page.lang %}
  {% assign sorted_galleries = galleries | sort: 'order' %}

  {% for gallery in sorted_galleries %}
  <article>
    <figure>
      {% include_cached image.html file=gallery.image style='teaser' alt=gallery.title %}
    </figure>
    <h3>{{ gallery.title }}</h3>
    {{ gallery.content }}

    <footer>
      <a class="read-more" href="{{ gallery.url }}">{{ site.data.translations[page.lang].text.read-more }}</a>
    </footer>

  </article>

  {% endfor %}

</section>


{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
