---
layout: default
---

{% assign stripped = content | strip_newlines %}
{% if stripped != "" or page.buttons %}
<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content }}

  {% if page.buttons %}
  <footer>
    {% include buttons.html items=page.buttons %}
  </footer>
  {% endif %}

</article>
{% endif %}


<section class="galleries">

  <h2 class="hidden">
    <span>{{ site.data.translations[page.lang].text.galleries }}</span>
  </h2>

  {% assign galleries = site.galleries | where: "lang", page.lang %}
  {% assign sorted_galleries = galleries | sort: 'order' %}

  {% for gallery in sorted_galleries %}

  <figure>
    <a href="{{ gallery.url }}">
      {% include_cached image.html file=gallery.image style='gallery' alt=gallery.title %}
      <figcaption>{{ gallery.title }}</figcaption>
    </a>
  </figure>

  {% endfor %}

</section>


{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
