---
layout: default
---

<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content }}

  <footer>
    {% assign buttons = site.data[page.lang].buttons.testimonials %}
    {% include buttons.html items=buttons %}
  </footer>

</article>


<section class="testimonials">

  <h2 class="hidden">
    <span>Testimonials</span>
  </h2>

  {% assign testimonials = site.testimonials | where: "lang", page.lang %}
  {{ testimonials | sort: 'date' }}

</section>

{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
