---
layout: default
---

{% assign stripped = content | strip_newlines %}
{% if stripped != "" or page.buttons %}
<article class="intro">

  <h2><span>{{ page.title }}</span></h2>

  {{ content | replace: "\", "<br/>" }}

  {% if page.buttons %}
  <footer>
    {% include buttons.html items=page.buttons %}
  </footer>
  {% endif %}

</article>
{% endif %}


<section class="testimonials">

  <h2 class="hidden">
    <span>{{ site.data.translations[page.lang].text.testimonials }}</span>
  </h2>

  {% assign testimonials = site.testimonials | where: "lang", page.lang %}
  {{ testimonials | sort: 'date' }}

</section>

{% include_cached footer.html lang=page.lang %}

{% js js/default async:true %}
